# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here
print(8+12)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [ ]:
# Answer here
print(20-7)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [ ]:
# Answer here
print(6 * 9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [ ]:
# Answer here
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [ ]:
# Answer here
print(45//9)
print(50//6)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [ ]:
# Answer here
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [ ]:
# Answer here
print(3 ** 4)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [ ]:
# Answer here
a = 8
print(+a)
print(-a)

8
-8

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
# Answer here
print(5 + 3 * 2)
print((5 + 3) * 2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [ ]:
# Answer here
a = 15
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [ ]:
# Answer here
n = 10
n += 5
print(n)
n *= 2
print(n)
n -= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
# Answer here
x =3
y = 7

x,y = y,x
print(x)
print(y)

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a =input("enter first number")
b = input("enter second number")
print(int(a)+int(b))

enter first number5
enter second number4
9

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a =input("enter first number")
b = input("enter second number")
c = input("enter third number")
print((float(a)+float(b)+float(c))/3)

enter first number5
enter second number5
enter third number5
5.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
r = input("enter radius")
print(2 * 3.14159 * float(r))

enter radius10
62.8318

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [1]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

seconds = int(input("enter seconds"))
hours = seconds // 3600
seconds %= 3600
minutes = seconds // 60
seconds %= 60
print("%d:%d:%d" % (hours, minutes, seconds))

enter seconds5000
1:23:20

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [2]:
# Answer here
principal = int(input("enter principal"))
rate = int(input("enter rate"))
time = int(input("enter time"))
print((principal * rate * time) / 100)

enter principal500
enter rate22
enter time455
50050.0